{% extends 'cvsite/base.html' %}

{% block content %}

<head>
  <title>{{ project_name }} - Lane Barlow </title>

  <link rel="stylesheet" type="text/css" href="/static/photo-project.css"/>
  
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

</head>
  <div id="slideshow" align="center">
    {% for img in images %}
    <div class="slide" align="center">
      <h3 class=project-title>{{ project_name }}</h3>
      <img src="{{ bucket_url }}/{{ img.file }}" width="{{ photo_width }}" height="{{ photo_height }}" class="photo">
      <div class="photo-detail">
        <img class="prev-btn" class="slide-btn" src="/static/implication-arrow-left.png" width={% widthratio 6 100 photo_width %} height={% widthratio 6 100 photo_height %}>
        <img class="next-btn" class="slide-btn" src="/static/implication-arrow-right.png" width={% widthratio 6 100 photo_width %} height={% widthratio 6 100 photo_height %}>
        <b>{{ img.title }}</b>
        <br>
        <i>{{ img.desc }}</i>
      </div>
    </div>
    {% endfor %}
  </div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#slideshow').slick({
      lazyLoad: 'ondemand', 
      slidesToShow: 1,
      draggable: false,
      speed: 0,
      variableHeight: true,
      prevArrow: $("#pre-btn"),
      nextArrow: $("#next-btn"),
      responTo: "window"
    });
  });
</script>

{% endblock %}