{% extends 'cvsite/base.html' %}

{% block content %}

<head>
  <title>{{ project_name }} - Lane Barlow </title>
  
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

</head>
<body>

</style>
  <div class="slideshow" align="center">
    {% for img in images %}
    <div>
      <img src="{{ img.url }}" width="{{ photo_width }}" height="{{ photo_height }}">
      <div style="width:{{ photo_width }}px">
        <img class="prev" src="/static/implication-arrow-left.png" style="float:left" width={% widthratio 6 100 photo_width %} height={% widthratio 4 100 photo_height %}>
        <img class="next" src="/static/implication-arrow-right.png"  style="float:right" width={% widthratio 6 100 photo_width %} height={% widthratio 4 100 photo_height %}>
        <b>{{ img.title }}</b>
      </div>
      <br/>
      <i>{{ img.desc}}</i>
    </div>
    {% endfor %}
  </div>




  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.slideshow').slick({
        lazyLoad: 'ondemand',
        slidesToShow: 1,
        draggable: false,
        speed: 0,
        prevArrow: $(".prev"),
        nextArrow: $(".next"),
        respondTo: 'slider'
      });
    });
  </script>
</body>

{% endblock %}