{% extends 'cvsite/base.html' %}

{% block content %}

<head>
  <title>mathematics</title>
</head>

<div style="width:40%; min-width:500px">
  <p align="left">
    lane graduated from uc san diego in december 2016 with a bs in mathematics and a minor in computer science, and he plans to apply to mathematics phd programs after working for a time as a software engineer and math tutor. his mathematical loves are algebra and number theory, as well as applications of these fields like cryptography and signal processing. presently, lane is developing a photo project concerned with the natural numbers. 
  </p>
</div>

{% endblock %}