{% extends 'cvsite/base.html' %}

{% block content %}

<head>
  <title>mathematics</title>
</head>

<div style="width:40%; min-width:500px">
  <p align="left">
    lane graduates from uc san diego this december with a bs in mathematics and a minor in computer science, and he plans to apply to mathematics phd programs after working for a time as a software engineer and math tutor. his mathematical loves are algebra and number theory, as well as applications of these fields such as cryptography and signal processing (which at advanced levels applies nonconmmutative algebra). a nascent photographer, lane is also developing concepts for a photo project which will meditate on the natural numbers. 
  </p>
</div>

{% endblock %}