<div align="center">
  <h2>lane davis barlow</h2>
  <div style="width:40%; min-width:500px">
    <hr>
    <h3 style="margin:0; float:left"><a href="/programming">programming</a></h3>
    <h3 style="margin:0; display:inline-block"><a href="/mathematics">mathematics</a></h3>
    <h3 style="margin:0;float:right "><a href="/photography">photography</a></h3>
    <hr>
  </div>
  <div id="app-content">
  {% block content %}
  {% endblock %}
  </div>
  <div style="width:40%; min-width:500px">
    <hr>
    <p><a href="mailto:lane.barlow@gmail.com">contact</a></p>
  </div>
</div>