<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/base.css">

<body>
  <div align="center">
    <h2 id="header"><a href="/">lane davis barlow</a></h2>
    <div id="nav-menu">
      <h3 class="nav-link" id="prgrm-nav-link"><a href="/programming">programming</a></h3>
      <h3 class="nav-link" id="math-nav-link"><a href="/mathematics">mathematics</a></h3>
      <h3 class="nav-link" id="photo-nav-link"><a href="/photography">photography</a></h3>
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
      <p class="footer-text">this site designed by lane</p>
      <h4 class="footer-text"><a href="/about_site">about this site</a></h4>
      <h4 class="footer-text"><a href="mailto:lane.barlow@gmail.com">contact</a></h4>
    </div>
  </div>
</body>