{% extends 'cvsite/base.html' %}

{% block content %}
<head>
  <title>lane davis barlow</title>
</head>

<div align="left" style="width:40%; min-width:500px">
<p>
  lane barlow graduated from uc san diego in december 2016 with a bs in mathematics and a minor in computer science. he feels that his interests in math, programming, and photography (which he pursues both academically and extracurricularly) inevitably inform one another, and is currently investigating avenues for interdisciplinary projects. 
</p>
</div>
{% endblock %}
