{% extends 'cvsite/base.html' %}

{% block content %}
<head>
  <title>lane davis barlow</title>
</head>

<div align="left" style="width:40%; min-width:500px">
<p>
  lane barlow is a senior at university of california, san diego, from which he will graduate this December with a bs in mathematics and a minor in computer science. he feels that his interests in math, programming, and photography (which he pursues both in school and extracurricularly) inevitably inform one another, and is currently investigating avenues for inerdisciplinary projects. 
</p>
{% endblock %}
